.map{
    width:1328px
    height:681px;
    background:url(map_eng.jpg) 0 0 no-repeat;
    position:relative;
}

.map {
    overflow : hidden;
}

.map__list {
    float : right;
}

.map__list a{
    color: inherit;
    text-decoration : none;
}

.map__list a.is-active {
    color : #329CE3;
    
}

.map__image path{
    opacity:1;
    fill:#FFF;
    fill-opacity:0;
    stroke:#000000;
    stroke-width:2;
    transition: fill 0.1s;
}
.map__image .is-active path{
    fill:#329CE3;
    fill-opacity:0.6;
    opacity:1;
    transition: fill 0.1s;
}




