
        @import url('//fonts.googleapis.com/css?family=Oswald:200,300');
        /* define a style for Title, Headings and Normal texts */
        
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
            color: black;
            font-family: 'Oswald', sans-serif;
            margin: 0;
            font-weight: normal;
        }
        /* force element height to be smaller than sections can be in silex */
        
        .editable-style.small-height {
            min-height: 10px;
            height: 10px;
            max-height: 10px;
        }
        /* title style */
        
        .title {
            font-size: 60px;
            color: rgb(73, 187, 204);
        }
        
        .heading1 {
            font-size: 24px;
        }
        
        .editable-style.right {
            left: initial;
            right: 0px;
        }
        
        .grey-text .normal {
            color: grey;
        }
        
        .small-text .normal {
            color: grey;
            font-size: 10px;
        }
        
        .product-details .heading1 {
            color: rgb(73, 187, 204);
        }
        
        .product-details .heading3 {
            color: white;
            background-color: rgb(73, 187, 204);
            float: right;
            padding: 2px 25px;
        }
        
        .in-front {
            z-index: 1000;
        }
        
        .link-menu .normal {
            padding-top: 5px;
            color: #000000;
        }
        /* animated colors widget
            https://github.com/silexlabs/Silex/issues/138
        */
        
        .link-menu .page-link-active {
            background-color: rgb(73, 187, 204);
            transition: background-color 0.5s ease-in;
        }
        
        .link-menu .page-link-active .normal {
            color: #FFFFFF;
            transition: color 0.5s ease-in;
        }
        
        .map {
            overflow: hidden;
        }
        
        .map__list {
            position: absolute;
            float: right;
        }
        
        .map__list a {
            color: inherit;
            text-decoration: none;
        }
        
        .map__list a.is-active {
            color: #329CE3;
        }
        
        .map__list p.is-active {
            color: ;
        }
        
        .map__image {
            float: left;
        }
        
        .map__image path {
            opacity: 1;
            fill: #FFF;
            fill-opacity: 0;
            stroke: #000000;
            stroke-width: 2;
            transition: fill 0.1s;
        }
        
        .map__image .is-active path {
            fill: #329CE3;
            fill-opacity: 0.6;
            opacity: 1;
            transition: fill 0.1s;
        }
    
        .silex-id-1436036524732-32 {
            cursor: auto;
            background-color: rgba(160, 202, 255, 1);
        }
        
        .silex-id-1513265882381-4 {
            width: 1564px;
            top: 900px;
            left: 10px;
            background-color: transparent;
            min-height: 791px;
        }
        
        .silex-id-1513266015671-6 {
            width: 1545px;
            top: 103px;
            left: 10px;
            background-color: transparent;
            min-height: 703px;
            background-image: url('../assets/Map_eng.jpg');
            background-repeat: no-repeat;
        }
        
        .silex-id-1513265956214-5 {
            width: 284px;
            min-height: 74px;
            top: 14px;
            left: 630px;
        }
        
        .silex-id-1513265709492-3 {
            width: 874px;
            top: 6px;
            left: 337px;
            background-color: transparent;
            min-height: 850px;
        }
        
        .silex-id-1513265619663-1 {
            width: 314px;
            min-height: 99px;
            top: 24px;
            left: 266px;
        }
        
        .silex-id-1513265703116-2 {
            width: 815px;
            top: 167px;
            left: 28px;
            background-color: rgb(255, 255, 255);
            min-height: 600px;
        }
        
        .silex-id-1513273766526-10 {
            width: 325px;
            min-height: 267px;
            top: 27px;
            left: 8px;
        }
    